/* Joaquín Salustiano Britos Morales UO276044 */

/* Especificidad: (0, 0, 1) */
body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: black;
    background-color: #EEEDE7;      
}

header {
    background-color: burlywood;
}

/* Especificidad: (0, 0, 1), (0, 0, 1), (0, 0, 1), (0, 0, 1), (0, 0, 1) */
h1, h2, h3, h4, h5 {
    background-color: black;
    color: white;
    padding: 0.25em;
}

/* Especificidad: (0, 0, 1) */
h1 {
    font-size: x-large;
}

/* Especificidad: (0, 0, 1) */
h2 {
    font-size: large;
}

/* Especificidad: (0, 0, 1) */
h3 {
    font-size: medium;
}

/* Especificidad: (0, 0, 1) */
h4 {
    font-size: small;
}

/* Especificidad: (0, 0, 1) */
h5 {
    font-size: x-small;
}

/* Especificidad: (0, 0, 1) */
h6 {
    font-size: xx-large;
}

/* Especificidad: (0, 0, 1) */
a {
    color: #00008b;
}

/* Especificidad: (0, 1, 1) */
a:hover {
    /* Hereda background color #B9B7BD de a */
    color: #7fffd4;
}

/* Especificidad: (0, 0, 1) */
ol {
    list-style-type: upper-roman;
}


/* Especificidad: (0, 0, 1) */
ul {
    list-style-type: square;
}

/* Especificidad: (0, 0, 2) */
ul > li {
    list-style-type: disc;
    font-style: italic;
}

/* Especificidad: (0, 1, 2) */
ul > li:nth-child(3) {
    color: #a52a2a;
}

/* Especificidad: (0, 0, 1) */
dt {
    /* Hereda color #000000 de body */
    font-weight: bold;
}

/* Especificidad: (0, 0, 1) */
dd {
    /* Hereda color #000000 de body */
    font-size: large;
}

/* Especificidad: (0, 0, 1) */
table {
    /* Hereda color 000000 de body */
    border-collapse: collapse;
    border: 0.1em solid black;
}

/* Especificidad: (0, 0, 1), (0, 0, 1) */
th,
td {
  padding: 0.5em;
}

/* Especificidad: (0, 0, 1), (0, 0, 1) */
img, video {
    width: 25%;
    height: auto;
}



